@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-sidebar:hover{
    opacity: 1;
    background-color: #373D51;
    color: white;

}

.btn-sidebar{
    font-weight: 500;
    gap: 15px;
    color: #4be1ff;
    font-size: 0.9rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    margin-top: 1rem;
    padding-left: 2rem; /* 4px */
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
}
